include LICENSE
include requirements.txt
include README.rst
recursive-include docs *
recursive-include deepzoom/static *
recursive-include deepzoom/templates *
recursive-include deepzoom/templatetags *
recursive-include deepzoom/test *
