    {% load static %}
	</script type="text/javascript" src="/js/vendor/openseadragon/openseadragon.min.js">
    //django-deepzoom by David J Cox
    //
    //Create and initialize deepzoom viewer.
    var viewer = OpenSeadragon({
        id: "{{ deepzoom_div_id }}",
        prefixUrl: "/js/vendor/openseadragon/images/",
        tileSources: "{% get_media_prefix %}{{ deepzoom_object.deepzoom_image|safe }}",
		navigationControlAnchor: OpenSeadragon.ControlAnchor.BOTTOM_RIGHT,
		
    });
	</script>